{% extends "base.html" %}
{% load static %}

{% block title %}Государственные услуги — Пограничное управление{% endblock %}

{% block content %}
<h1 class="page-title">Государственные услуги</h1>

<div class="services-list">
    <div class="service-item">
        <h2>Выдача пропусков в пограничную зону Республики Карелия</h2>
        <p>Подача заявления осуществляется через 
            <strong>Единый портал государственных услуг</strong> 
            или лично через МФЦ.
        </p>
        <ul>
            <li><a href="https://gosuslugi.ru/" target="_blank">Подать заявление через Госуслуги →</a></li>
            <li><a 
                href="https://cdnstatic.rg.ru/uploads/attachments/2023/03/16/72595_696.pdf" 
                target="_blank">Порядок выдачи пограничными органами пропусков и разрешений(PDF)
                </a>
            </li>
            {% comment %} <li><a href="#">Образец заявления (DOC)</a></li> {% endcomment %}
        </ul>
    </div>

    {% comment %} <div class="service-item">
        <h2>Согласование хозяйственной деятельности в пограничной зоне</h2>
        <p>Необходимо предварительное согласование с Пограничным управлением.</p>
        <p><a href="#">Форма заявления на согласование →</a></p>
    </div>

    <div class="service-item">
        <h2>Выдача разрешений на неоднократное пересечение границы жителями приграничных территорий</h2>
        <p>Для жителей приграничных населённых пунктов.</p>
        <p><a href="#">Порядок получения и форма заявления →</a></p>
    </div> {% endcomment %}

</div>

<div class="gosuslugi-banner">
    <a href="https://gosuslugi.ru" target="_blank">
        <img src="{% static 'img/gosuslugi-banner.svg' %}" alt="Перейти на Госуслуги">
    </a>
</div>
{% endblock %}